.body {
  display: flex;
  min-height: auto;
  min-width: fit-content;
  margin-left: auto;
  overflow-x:scroll;
  margin-right: auto;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://t4.ftcdn.net/jpg/05/16/69/35/240_F_516693520_CST0DwZpOi828fRpVPPoKI7pecuei5SY.jpg");
  padding: 0 10px;
  }
