  .sidebar {
      border: 3.2px solid;
      flex: 0.2;
      min-width: 210px;
      height: fit-content;
      margin-top: 20px;
      margin-left: 10px;
      padding-left: 20px;
      padding-right: 20px;
  }